#!/bin/sh -e

# Source debconf library.
. /usr/share/debconf/confmodule

db_title "PHP"

for SAPI in apache apache2 cgi cli
do
	# Skip this loop if the config file isn't there (yet).
	if [ -f "/etc/php5/$SAPI/php.ini" ]; then
		db_register php5/add_extension php5/extension_@dsoname@_$SAPI

		# FIXME: this is the wrong answer if the SAPI package was
		# installed after the module was.
		if [ -n "$2" ] && dpkg --compare-versions "$2" ge 4:4.3.2+rc3-2
		then
			if grep -q "^[[:space:]]*extension[[:space:]]*=[[:space:]]*@dsoname@\.so" "/etc/php5/$SAPI/php.ini"
			then
				db_set php5/extension_@dsoname@_$SAPI true
			else
				db_set php5/extension_@dsoname@_$SAPI false
			fi
		fi

		db_subst php5/extension_@dsoname@_$SAPI extname @extname@
		db_subst php5/extension_@dsoname@_$SAPI sapiconfig $SAPI
		db_input low php5/extension_@dsoname@_$SAPI || true
	fi
done

db_go
